body {
    font-family: "Arial", sans-serif;
    background-color: black;
    color: whitesmoke;
    margin: 0;
}

canvas {
    width: 100vw;
    height: 100vh;
    cursor: none;
}

table {
    width: 100%;
}

td {
    width: 50%;
}

td:first-child {
    text-align: right;
    font-weight: bold;
}

td:last-child {
    text-align: left;
}

#overlay {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: bisque;
    text-align: center;
    padding-top: 30vh;
}

#loadingtext {
    position: absolute;
    top: 250px;
    left: 150px;
    font-size: 2em;
    color: white;
}