body {
    font-family: "Arial", sans-serif;
    background-color: black;
    color: whitesmoke;
    margin: 0;
}

canvas {
    width: 100vw;
    height: 100vh;
}

#loadingtext {
    position: absolute;
    top: 250px;
    left: 150px;
    font-size: 2em;
    color: white;
}