body {
    font-family: "Arial", sans-serif;
    background-color: black;
    color: whitesmoke;
    margin: 0;
}

canvas {
    width: 100vw;
    height: 100vh;
    cursor: none;
}

table {
    width: 100%;
}

td {
    width: 50%;
}

td:first-child {
    text-align: right;
    font-weight: bold;
}

td:last-child {
    text-align: left;
}

.overlay {
    display: none;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#menu {
    background-color: rgba(0, 0, 0, 0.7);
    color: bisque;
    text-align: center;
    padding-top: 30vh;
}

#overlay.fade {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.indicators {
    cursor: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.indicators #health {
    background-color: rgba(51, 203, 33, 0.6);
    width: 100%;
    height: 10px;
    position: relative;
    transition: width .5s linear;
}

.indicators #sprint {
    background-color: rgba(51, 203, 33, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 20px;
    transition: width .5s linear;
}

#loadingtext {
    position: absolute;
    top: 250px;
    left: 150px;
    font-size: 2em;
    color: white;
}

#intro {
    cursor: default;
    background-size: contain;
    background: #0a0d0f url("../assets/splash/background.png") no-repeat right;
}

#intro .play {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: 5px solid rgb(243, 210, 141);
    color: rgb(243, 210, 141);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 3em;
    font-weight: bold;
    outline: none;
}

button.drama:hover {
    border: 5px solid rgb(198, 64, 14);
    color: rgb(198, 64, 14);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}